html, body{
    
    width:100%;
    height:100vh;
    background-color:#F5F7EF;
    
    
    
}
.cal-box{
    
    width:60%;
    height:40vh;
    border:1px solid black;
    box-sizing:border-box;
}
td, th{
    
    border:1px solid black;
    padding:0;
    
    
}

#Calendar{
    
    width:60%;
    height:50vh;
    border:1px solid black;
    box-sizing:border-box;
    
    
    
    
}